img {
    width: 50px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    margin: 20px;
}

#botones {
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #46A686;
}

.cerrar {
    text-indent: 5em;
}

.CerrarSesion:hover{
    background-color: #318469;
    border-radius: 10px;
}

.CerrarSesion {
    padding: 10px;
}