img {
    width: 50px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    margin: 20px;    
}

#botones {
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #46A686;
}