<h2> VENTAS ACUMULADAS </h2>

<div>
    <label>DIA</label>
    <select name="dia">
        
        <option>1</option>
        
        <option>2</option>
        
        <option>2</option>
        
    </select>  
</div>

<table class="fi">
    <tr>
        <label class="b">FECHA INICIAL</label>
        <th>  </th>
        <th>  </th>
        <th>  </th>
            
    </tr>
</table>

<table class="ff">
    <tr>
        <label class="b">FECHA FINAL</label>
        <th>  </th>
        <th>  </th>
        <th>  </th>
            
    </tr>
</table>




<table class="VAcu">
    <tr>
        <th> DIA </th>
        <th> PRODUCTO </th>
        <th> CANTIDAD </th>
        <th> TOTAL VENTAS </th>
    
    </tr>
    
    <tr>
        <td>   </td>
        <td> CORRIENTE </td>
        <td>  </td>
        <td>  </td>
    
    </tr>
    
    <tr>
        <td>  </td>
        <td> BIODISEL </td>
        <td>  </td>
        <td>  </td>
    
    </tr>
    
    <tr>
        <td>  </td>
        <td> EXTRA </td>
        <td>  </td>
        <td>  </td>
    
    </tr>

    <tr>
        <td>  </td>
        <td> GNV </td>
        <td>  </td>
        <td>  </td>
        
    </tr>

    <tr>
        <td>  </td>
        <td> OTRO </td>
        <td>  </td>
        <td>  </td>
        
    </tr>
    
</table>
