<div class="main">
    <h3>Ventas almacén día</h3>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
            <th scope="col">Ventas contado</th>
            <th scope="col">Ventas crédito</th>
            <th scope="col"><strong>Venta total</strong></th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th colspan="2"></th>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            </tr>
        </tbody>
    </table>
</div>