<div class="main">
    <div class="form">
        <h3>Contacta con nosotros</h3>

        <div class="mb-3">
            <label for="nombreCompleto" class="form-label">Nombre completo</label>
            <input type="text" class="form-control" id="nombreCompleto">
        </div>
        <div class="mb-3">
            <label for="correo" class="form-label">Correo</label>
            <input type="email" class="form-control" id="correo">
        </div>  
        <div class="mb-3">
            <label for="telefono" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="telefono">
        </div>  
        <div class="mb-3">
            <label for="mensaje" class="form-label">Mensaje</label>
            <textarea name="" id="mensaje" cols="30" rows="5" class="form-control"></textarea>
        </div>  
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Enviar comentarios</button>
        </div>
    </div>   
</div>