<div class="main">    
  <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item" id="botones">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button bg-success text-white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            Registrar
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">
              <a class="opcion" href="/registrar-venta">Venta</a><br>
              <a class="opcion" href="/registrar-producto">Producto</a><br>
              <a class="opcion" href="/registrar-turno">Turno</a><br>
              <a class="opcion" href="/registro-cliente">Cliente</a><br>
          </div>
        </div>
      </div>
      <div class="accordion-item" id="botones">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button class="accordion-button collapsed bg-success text-white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            Consultar
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
          <div class="accordion-body">
            <a class="opcion" href="/productos">Productos</a><br>
            <a class="opcion" href="/ventas-almacen">Ventas acumuladas</a><br>
          </div>
        </div>
      </div>
      <div class="accordion-item" id="botones">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button collapsed bg-success text-white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            Información
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">
            <a class="opcion" href="/contactanos">Contacta con nosotros</a>
          </div>
        </div>
      </div>
    </div>
</div>