<style>
    
    .VD{
      background: gray;      
      padding:20px;            
      position:absolute;
      left: 20%;
      height: 70%;
      width: 70%;
    }
    .VD h2{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 80px;
    }
    p{
        margin-left: 15%;
        margin-bottom: 50px;
    }
    
    
  
</style>

<div class="VD">
    <h2>VENTAS DATAFONO</h2>

    <p>Redeban: </p>
    <p>Dainer: </p>
    <p><strong>Total datafono: </strong></p>
    
</div>