<div class="main">
    <h3>Consultar productos</h3>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Tipo de producto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Chocolate</td>
                <td>Chocolate blanco</td>
                <td>8 unidades</td>
                <td>Comestible</td>
            </tr>

            <tr>
                <th scope="row">2</th>
                <td>Guardafango</td>
                <td>Guarda fangos para moto color negro</td>
                <td>50 unidades</td>
                <td>Refacciones</td>
            </tr>

            <tr>
                <th scope="row">3</th>
                <td>Neumáticos</td>
                <td>Numero 14</td>
                <td>100 unidades</td>
                <td>Repuesto</td>
            </tr>

            <tr>
                <th scope="row">4</th>
                <td>Rines</td>
                <td>Rines para moto de fibra de carbono</td>
                <td>30 unidades</td>
                <td>Refacciones</td>
            </tr>

            <tr>
                <th scope="row">5</th>
                <td>Aceite</td>
                <td>Aceite para carro</td>
                <td>90 unidades</td>
                <td>Industrial</td>
            </tr>
        </tbody>
    </table>
</div>