<div class="main">
    <h3>Productos</h3>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Tipo de producto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">1</th>
            <td>Chocolate</td>
            <td>Chocolate blanco</td>
            <td>8</td>
            <td>Comestible</td>
            </tr>
        </tbody>
    </table>
</div>