<div class="main">
  <div class="form">
      <h3 class="titulo">Registrar turno</h3>

      <div class="mb-3">
          <label for="nombre" class="form-label">Nombre del turno</label>
          <input type="text" class="form-control" id="nombre">
      </div>
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripcion</label>
        <input type="text" class="form-control" id="descripcion">
      </div>
      <div class="mb-3">
        <label for="inicio" class="form-label">Hora inicio</label>
        <input type="time" class="form-control" id="inicio">
      </div>  
      <div class="mb-3">
        <label for="final" class="form-label">Hora final</label>
        <input type="time" class="form-control" id="final">
      </div> 
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Registrar producto</button>
      </div>
</div>