.main-container {
    padding-top: 9%;
    padding-left: 25%;
    padding-right: 3%;
    padding-bottom: 3%;
}

.main {
    padding-top: 9%;
    padding-left: 25%;
    padding-right: 3%;
    padding-bottom: 3%;
}